@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* root varaibles */
:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7b8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 1rem 1rem var(--color-light);
}

.recent-oders {
  margin-top: 2rem;
}

.recent-oders {
  margin-bottom: 0.8rem;
}

.recent-oders table {
  background: var(--color-white);
  width: 100%;
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}

table tbody tr:last-child td {
  border: none;
}

.recent-oders a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--color-info-dark);
}
/* media queries */
@media screen and (max-width: 1200px) {
  .recent-oders {
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 8rem;
  }
  .recent-oders table {
    width: 84vw;
  }
}
