@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* root varaibles */
:root {
  --color-primary: #4ade80;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7b8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 1rem 1rem var(--color-light);
}
body {
  font-family: 'Poppins';
}

.recent-oders table {
  background: var(--color-white);
  width: 100%;
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}

table tbody tr:last-child td {
  border: none;
}

.recent-oders a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--color-info-dark);
}

.loading-page {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading-page div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: var(--color-primary);
  animation: loading-page 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loading-page div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loading-page div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loading-page div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes loading-page {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

/* media queries */
@media screen and (max-width: 1200px) {
  .recent-oders table {
    width: 84vw;
  }
}

/* error page */
.main-error-page {
  min-height: 600px;
  margin: 0px auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
}
.error-title {
  max-width: 529px;
  font-family: Roboto;
  font-size: 38px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4b4b62;
  margin-bottom: 16px;
}

.error-subtitle {
  max-width: 568px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: #4b4b62;
  margin-bottom: 24px;
}
.typing-text {
  display: inline-block;
  position: relative;
  /* width: 10em; */
  /* font-size: 2em; */
}

.cursor {
  position: absolute;
  top: 0;
  right: -0.1em;
  animation: blink 1s infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* .typed {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  animation: typing 1.5s steps(30, end) forwards, blinking 1s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
  100% {
    border-color: transparent;
  }
} */
